<div class="container">
	<div class="row">
		<div class="col-md-8 mx-auto">
		  <h2><%= sanitize @post.title %></h2>
		  <p><%= sanitize @post.content %></p>
		  <%= link_to "Edit", edit_admin_post_path(@post), class: "btn btn-primary" %>
		</div>
	</div>
</div>